+below(480px)
  p
    font-size font_large

  h1
    font-size font_extralarge

  h2
    font-size calc(var(--e0))

  ul, ol
    li
      font-size font_large

  .header
    font-size calc(var(--e2))
    margin-top calc(var(--m1))

  .layout
    margin 0
    max-width calc(90 * var(--vw))