:root
  --vh 1vh
  --vw 1vw
  --vmix "( (0.85 * var(%s)) + (0.15 * var(%s)) )" % (--vw --vh)

  --s0 "( 0.8 * var(%s))" % --vmix
  --s1 "( 0.95 * var(%s))" % --vmix
  --s2 "( 1.1 * var(%s))" % --vmix
  --m0 "( 1.25 * var(%s))" % --vmix
  --m1 "( 1.5 * var(%s))" % --vmix
  --m2 "( 1.75 * var(%s))" % --vmix
  --l0 "( 2.5 * var(%s))" % --vmix
  --l1 "( 3 * var(%s))" % --vmix
  --l2 "( 3.5 * var(%s))" % --vmix
  --e0 "( 4.5 * var(%s))" % --vmix
  --e1 "( 5.5 * var(%s))" % --vmix
  --e2 "( 7.5 * var(%s))" % --vmix